
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10px 10px 10px 10px;
    
}
.navbar{
    background-color: black;
    display: flex;
    align-items: center;
    padding: 20px;
    color: azure;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    color: azure;
    text-decoration: none;
   
}
p{
    color: #555;
}

footer {
  text-align: center;
  text-decoration: none;
  padding: 3px;
  background-color: hsl(15, 72%, 70%);
  color: white;
}
.about{
    background-color: rgb(220, 235, 238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.art{
    margin: 70px 0;

}

.footer{
    height: 10%;
    text-align: center;
    background-color: #000;
    color: #fff;
}


.img1{
    width:20%;
    margin-top:10em;
    display:inline-block;
    float:left;
    margin-bottom: 10px;;

}

.img2{
    width:20%;
    margin-top:10em;
    display:inline-block;
    margin-left: 17em;
    
}
.img3{
    width:20%;
    margin-top:10em;
    display:inline-block;
    float:right;
}


img{
    width:100%;
}
.para{
    margin-bottom:15em;
}