* {margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 255, 255);
}

.header {
  overflow: hidden;
  background-color: #110d0d;
  padding: 20px 10px;
  color: #fff;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
h1{
  color: rgb(96, 184, 243);
}
h5{
  font-family: cursive;
}
.header a.logo {
  font-size: 50px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: #000;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
img {
  width: 100%;
  height: 100vh;
  
}

footer {
  text-align: center;
  width: 100%;
  text-decoration: none;
  padding: 3px;
  background-color: #000;
  color: rgb(255, 255, 255);
}
footer a{
  color: #ddd;
}

